* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation ul {
    list-style: none;
}

body {
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
}

.navigation {
    position: fixed;
    width: 18.75rem;
    height: 100%;
    background: #003147;
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active {
    width: 3rem;
}


.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
}

.navigation ul li:hover {
    background: #03a9f4;
}

.navigation ul li:nth-child(1) {
   margin-bottom: 2em;
   
}


.navigation ul li:nth-child(1):hover {
    background: transparent;
   
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    color: #fff;
    text-decoration: none;
}

.navigation ul li a .icon {
    position: relative;
    display: block ;
    min-width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
}

.navigation ul li a .title {
    position: relative;
    display: block ;
    min-width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
}

.main {
    position: absolute;
    width: calc(100% - 18.75rem);
    left: 18.75rem;
    min-height: 100vh;
    background: #f5f5f5;
    transition: 0.5s;
 
}

.main.active {
    width: calc(100% - 3rem);
    left: 3rem;
}

.main .topbar {
    width: 100%;
    padding: 0 1rem;
    background: #fff;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.toggle {
    position: relative;
    width: 2rem;
    height: 2rem;
    
    cursor: pointer;
}

.toggle::before {
    content: '\f0c9';
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 2rem;
    font-size: 24px;
    text-align: center;
    color: #111;
}

.search {
    position: relative;
    width: 20em;
    margin: 0 2em;
}

.search lable {
    position: relative;
    width: 100%;
}

.search lable input {
    max-width: 20em;
    width: 100%;
    height: 2em;
    border-radius: 4em;
    padding: 2em 2em;
    outline: none;
    border: 1px solid rgba(0,0,0,0.2);
}

.search lable .fa {
    position: absolute;
    top: .2em;
    right : 1em;
}

.user {
    position: relative;
    min-width: 2rem;
    width: 2rem;
    height: 1rem;
    cursor: pointer;
}


.cardBox {
    position: relative;
    width: 100%;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.cardBox .card {
    position: relative;
    background: #fff;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.cardBox .card .numbers {
    position: relative;
    font-size: 2em;
    font-weight: 500;
}

.cardBox .card .cardName {
    color: #999;
}

.cardBox .card .iconBox {
    color: #03a9f4;
    font-size: 2.5em;
    padding: 0 .5em;
}


.details {
    padding: 2rem ;
    width: 100%;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 2fr 1fr;
    padding-top: 0;
}


.details .recentOrders {
    position: relative;
    min-height: 25rem;
    background: #fff;
    padding: 2rem;
    
}   


.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeader h2 {
    font-weight: 600;
}

.btn {
    position: relative;
    padding: .5rem 1rem;
    background: #03a9f4;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

.details table thead td {
    font-weight: 600;
}

.details .recentOrders table tr {
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.details .recentOrders table tr:last-child {
    border-bottom: none;
     
}


.details .recentOrders table tbody tr:hover {
    background: #03a9f4 ;
    color: #fff;
}

.details .recentOrders table tr td {
    padding: .5em 1em;
}

 .status {
     position: relative;
     padding: 2px 4px;
     background: #f00;
     border-radius: 1em;
     font-size: 14px;
     font-weight: 300;
     letter-spacing: 1px;
 }

 .delivered {
     background: greenyellow;
 }

 .pending {
     background: #f9ca3f;
 }

 .return {
     background: #f00;
 }

 .inprogress {
     background: #1795ce;
 }

 .recentCustomers {
     position: relative;
     display: grid;
     min-height: 25rem;
     background: #fff;
     padding: 2rem;
 }


 .recentCustomers .imgBx {
     position: relative;
     width: 2em;
     height: 2em;
  
     overflow: hidden;
 }

 .recentCustomers .imgBx .fa {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 
 .recentCustomers  table tr:hover,
 .recentCustomers  table tr:hover td h4 span{
     background: #03a9f4;
     color: #fff;
 }


 .recentCustomers  table tr td {
     padding: 1em 1em;
 }

 .recentCustomers  table tr td h4 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2em;
}

.recentCustomers  table tr td h4 span {
    font-size: .8rem;
    color: #999;
}



:root {
    --border-color: hsl(230, 86%, 45%);
    --primary-color: #bada55;
    --treeview-level-size: 55px;
    --tree-card-header-footer:hsl(230, 89%, 71%);
}

.btnc {
    width: 5em;
    display: inline-block;
    text-align: center;
    
}

.main__section .treeview .btn-default {
    border-color: var(--border-color);
}

.main__section .treeview .btn-default:hover {
    background-color: #f7faea;
    color: var(--primary-color);
}

.main__section .treeview ul {
    list-style: none;
    padding-left: 32px;
}

.main__section .treeview ul li {
    padding: 50px 0px 0px 35px;
    position: relative;
}

.main__section .treeview ul li:before {
    content: "";
    position: absolute;
    top: -26px;
    left: -34px;
    border-left: 2px dashed #a2a5b5;
    width: 1px;
    height: 100%;
}

.treeview ul li:after {
    content: "";
    position: absolute;
    border-top: 2px dashed #a2a5b5;
    top: 70px;
    left: -30px;
    width: 65px;
}


.treeview ul li:last-child:before {
    top: -22px;
    height: 90px;
}

 .treeview > ul > li:after,
 .treeview > ul > li:last-child:before  {
    content: unset;
}
.treeview > ul > li:before  {
    top: 90px;
    left: 36px;
}

 
.main__section .treeview > ul > li:not(:last-child) > ul > li:before {
    content: unset;
}

.treeview > ul > li .treeview__level:before {
    height: calc(var(--treeview-level-size) + 5) ;
    width: calc(var(--treeview-level-size) + 5);
    top: -9.5px;
    background-color: #54a6d9;
    border: 7.5px solid #d5e9f6;
    font-size: 22px;
}

.treeview > ul > li > ul {
    padding-left: 34px;
}


/*Treeview Components*/ 
.treeview__level {
    padding: 35px;
    padding-top: 42.5px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 700;
    border: 1px solid var(--border-color);
    position: relative;
    z-index: 1;
}


.treeview__level:before {
    content: attr(data-level);
    position: absolute;
    left: -14.5px;
    top: -6.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 245px;
    border-radius: 25px;
    border: 7.5px solid #eef6d5;
    background-color: #bada55;
    color: #fff;
    font-size: 20px;
  }
  
 

  .treeview__level .level-same, .treeview__level .level-sub {
    position: absolute;
    display: none;
    transition: opacity 250ms cubic-bezier(0.7, 0, 0.3, 1);
  }
  .treeview__level .level-same.in, .treeview__level .level-sub.in {
    display: block;
  }
  .treeview__level .level-same.in .btn-default, .treeview__level .level-sub.in .btn-default {
    background-color: #faeaea;
    color: #da5555;
  }
  .treeview__level .level-same {
    top: 0;
    left: 45px;
  }
  .treeview__level .level-sub {
    top: 42px;
    left: 0px;
  }
  .treeview__level .level-remove {
    display: none;
  }
  .treeview__level.selected {
    background-color: #f9f9fb;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
  }
  .treeview__level.selected .level-remove {
    display: inline-block;
  }
  .treeview__level.selected .level-add {
    display: none;
  }
  .treeview__level.selected .level-same, .treeview__level.selected .level-sub {
    display: none;
  }
 

  .treeview--mapview ul {
    justify-content: center;
    display: flex;
  }
  .treeview--mapview ul li:before {
    content: unset;
  }
  .treeview--mapview ul li:after {
    content: unset;
  }

  .cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .tree_card {
    margin: -10px 0px;
    width: 250px;
    height: 163px;
    border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
  }
   
  .tree_card .tree_card__content {
      position:relative;
      padding :10px;
    }
    
   .tree_card__footer {
       background-color:var(--tree-card-header-footer);
       height:33px;
       position:relative;
       top:3rem;
       border-radius: 0px 0px 40px 40px;
    }
  
  .tree_card_btns {
    display:flex;
    justify-content:space-evenly;
    padding: 9px;
    }

 
  
  .tree_card_btns .btn {
    background: green;
    border : black solid ;
    text-align:center;
  }
    
  .tree_card  form  lable  input {
      border-radius: 10px;
    }
  
  .tree_card .tree_card_title {
    color: white;
    background-color:var(--tree-card-header-footer);
    border-radius: 40px 40px 0px 0px;
    padding-top:10px;
    position: relative;
    height:43px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
  }
  
  .tree_card.card_attribute {
    width: 350px;
    height: 250px;
  }

  .tree_card__content .tree_form {
      position: relative;
      display: flex;
      flex-direction: column;
    }  

    .tree_card__content .tree_form .tree_form_row {
        padding: 3px;
    }


.btncard {
    cursor: pointer;
}

.btncard .level-add {
    display: none;
  }
.btncard.level-same, .btncard.level-sub {
    display: none;
  }
  
  .tree_card:hover {
      box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }
  
  @media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }
  
  
  /*
  .card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    transition: 0.4s;
  }
  */
  




/*making it responsive*/
@media (max-width: 992px)  {
    .navigation {
        left: -300px;
    }
    .navigation.active {
        left: 0;
    }
    .main {
        width: 100%;
        left: 0;
    }
    .main.active {
        width: calc(100% - 3rem);
        left: 3rem;
    }
    .cardBox {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 768px) {
    .details {
        grid-template-columns: repeat(1, 1fr);
    }
    .cardHeader h2 {
        font-weight: 600;
        font-size: 1rem;
    }
}

@media (max-width:480px ) {
    .cardBox {
        grid-template-columns: repeat(1, 1fr);
    }

    .details .recentOrders {
        overflow-x: auto;
    }

    .details .recentOrders table  {
        width: 600px;
    }
 
}